<ion-header>
  <ion-toolbar>
    <ion-title>detail-film</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>{{film.title}}</h3>
  <p>{{film.opening_crawl}}</p>
  <ion-note>{{film.release_date}}</ion-note>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        a
      </ion-col>
      <ion-col size="6">
        b
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
